.tri1 {
   width: 0px;
   height:0px;
   background-color: darkorange;
   border-top:60px solid black;
   margin-left: 100px;
   border-right:60px solid yellow;
   border-bottom:60px solid purple;
   border-left:60px solid black;
   
}
.tri2 {
  width: 0px;
  height:0px;
  background-color: darkorange;
  border-top:60px solid black;
  margin-left: 200px;
  border-right:60px solid yellow;
  border-bottom:60px solid purple;
  border-left:60px solid black;
  
}
.tri3 {
  width: 0px;
  height:0px;
  background-color: darkorange;
  border-top:60px solid black;
  margin-left: 300px;
  border-right:60px solid yellow;
  border-bottom:60px solid purple;
  border-left:60px solid black;
  
}
.tri4 {
  width: 0px;
  height:0px;
  background-color: darkorange;
  border-top:60px solid black;
  margin-left: 400px;
  border-right:60px solid yellow;
  border-bottom:60px solid purple;
  border-left:60px solid black;
  
}
.tri5 {
  width: 0px;
  height:0px;
  background-color: darkorange;
  border-top:60px solid black;
  margin-left: 500px;
  border-right:60px solid yellow;
  border-bottom:60px solid purple;
  border-left:60px solid black;
  
}
